<div class="search-container">
	<div class="icon-search"><i class="ion-android-search"></i></div>
	<div class="search-content">
		<div id="search">
			<!-- <h1>{{ text_search }}</h1> -->
			<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
			<button type="button" class="btn btn-default btn-lg"><i class="ion-android-search"></i></button>
		</div>
	</div>
</div>